<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-3.1.xsd
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache.xsd">
	
	<!-- <mvc:resources location="/css/" mapping="/css/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/layui/" mapping="/layui/**"/> -->
	<mvc:resources location="/static/" mapping="/static/**"/>
	<mvc:resources location="/admin/js/" mapping="/admin/js/**"/>
	<mvc:resources location="/edu/js/" mapping="/edu/js/**"/>
	<!-- test.... -->
	<mvc:resources location="/json/" mapping="/json/**"/>
	<mvc:resources location="/page/" mapping="/page/**"/>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<bean class="com.seehope.web.interceptor.AdminInterceptor">
				<property name="m_excludes">
					<set>
						<value>/login</value>
						<value>/ajax_login</value>
					</set>
				</property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/edu/**"/>
			<bean class="com.seehope.web.interceptor.EduInterceptor">
				<property name="m_excludes">
					<set>
						<value>/login</value>
						<value>/ajax_login</value>
					</set>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<bean id="job" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="tmpFileTask"/>
		</property>
		<property name="targetMethod" value="cleanTmpFile" />
		<property name="concurrent" value="false" /><!-- 作业不并发调度 -->
	</bean>

	<!-- org.springframework.scheduling.quartz.CronTriggerBean -->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="job" />
		<property name="cronExpression" value="0 0 1 1 * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
			</list>
		</property>
	</bean>
</beans>